<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.Login</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.Logout</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindAllTeams</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.FindAllTeams</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindAllLeagues</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.FindAllLeagues</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindAllVenues</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.FindAllVenues</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindAllReports</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.FindAllReports</servlet-class>
 </servlet>
 <!--
 <servlet>
  <servlet-name>ShowMainWindow</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.ShowMainWindow</servlet-class>
 </servlet>
-->
 <servlet>
  <servlet-name>FindMyTeams</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.FindMyTeams</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ModifyAccount</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.ModifyAccount</servlet-class>
 </servlet>
<!--
 <servlet>
  <servlet-name>RDError</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.RDError</servlet-class>
 </servlet>
-->
 <servlet>
  <servlet-name>ViewLeaguesOfSV</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.ViewLeaguesOfSV</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ViewTeamsOfLeague</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.ViewTeamsOfLeague</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.Register</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ViewStudentsOfTeam</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.ViewStudentsOfTeam</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindAllStudents</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.FindAllStudents</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>JoinTeam</servlet-name>
  <servlet-class>edu.uga.cs.recdawgs.presentation.JoinTeam</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindAllTeams</servlet-name>
  <url-pattern>/FindAllTeams</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindAllLeagues</servlet-name>
  <url-pattern>/FindAllLeagues</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindAllVenues</servlet-name>
  <url-pattern>/FindAllVenues</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindAllReports</servlet-name>
  <url-pattern>/FindAllReports</url-pattern>
 </servlet-mapping>
 <!--
 <servlet-mapping>
  <servlet-name>ShowMainWindow</servlet-name>
  <url-pattern>/ShowMainWindow</url-pattern>
 </servlet-mapping>
-->
 <servlet-mapping>
  <servlet-name>FindMyTeams</servlet-name>
  <url-pattern>/FindMyTeams</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ModifyAccount</servlet-name>
  <url-pattern>/ModifyAccount</url-pattern>
 </servlet-mapping>
<!--
 <servlet-mapping>
  <servlet-name>RDError</servlet-name>
  <url-pattern>/RDError</url-pattern>
 </servlet-mapping>
-->
 <servlet-mapping>
  <servlet-name>ViewLeaguesOfSV</servlet-name>
  <url-pattern>/ViewLeaguesOfSV</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ViewTeamsOfLeague</servlet-name>
  <url-pattern>/ViewTeamsOfLeague</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Register</servlet-name>
  <url-pattern>/Register</url-pattern>
 </servlet-mapping>
    <servlet-mapping>
  <servlet-name>ViewStudentsOfTeam</servlet-name>
  <url-pattern>/ViewStudentsOfTeam</url-pattern>
 </servlet-mapping>
    <servlet-mapping>
  <servlet-name>FindAllStudents</servlet-name>
  <url-pattern>/FindAllStudents</url-pattern>
 </servlet-mapping>
    <servlet-mapping>
  <servlet-name>JoinTeam</servlet-name>
  <url-pattern>/JoinTeam</url-pattern>
 </servlet-mapping>
</web-app>
