<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.Login</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.Logout</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindAllClubs</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.FindAllClubs</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindAllPersons</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.FindAllPersons</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>JoinClubPersonsClubsList</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.JoinClubPersonsClubsList</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>JoinClub</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.JoinClub</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ShowMainWindow</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.ShowMainWindow</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreateClubPersonsList</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.CreateClubPersonsList</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreateClub</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.CreateClub</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreatePerson</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.CreatePerson</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindClubMembers</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.FindClubMembers</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindClubMembersClubsList</servlet-name>
  <servlet-class>edu.uga.clubs.presentation.FindClubMembersClubsList</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindAllClubs</servlet-name>
  <url-pattern>/FindAllClubs</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindAllPersons</servlet-name>
  <url-pattern>/FindAllPersons</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>JoinClubPersonsClubsList</servlet-name>
  <url-pattern>/JoinClubPersonsClubsList</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>JoinClub</servlet-name>
  <url-pattern>/JoinClub</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ShowMainWindow</servlet-name>
  <url-pattern>/ShowMainWindow</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateClubPersonsList</servlet-name>
  <url-pattern>/CreateClubPersonsList</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateClub</servlet-name>
  <url-pattern>/CreateClub</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreatePerson</servlet-name>
  <url-pattern>/CreatePerson</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindClubMembers</servlet-name>
  <url-pattern>/FindClubMembers</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindClubMembersClubsList</servlet-name>
  <url-pattern>/FindClubMembersClubsList</url-pattern>
 </servlet-mapping>
</web-app>
